/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.file-upload {
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

label {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.buttons {
    margin: 20px 0;
}

.plant-button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.plant-button:hover {
    background-color: #0056b3;
}

.image-preview {
    margin: 20px 0;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

.pesticide-recommendation {
    margin-top: 10px;
    font-size: 16px;
    color: #007BFF;
}
